<div class="row">
  <div class="col-6"><app-dona [title]="'Grafica 1'" [data]="data1" [labels]="labels1" [colors]="grafColors1"></app-dona></div>
  <div class="col-6"><app-dona title="Grafica 2" [data]="data2" [labels]="labels2" [colors]="grafColors2"></app-dona></div>
  <div class="col-6"><app-dona title="Grafica 3" [data]="data3" [labels]="labels3" [colors]="grafColors3"></app-dona></div>
  <div class="col-6"><app-dona title="Grafica 4" [data]="data4" [labels]="labels4" [colors]="grafColors4"></app-dona></div>
</div>
